body{
	background-color: #eee;
}


.navBar{
	overflow: hidden;
	background-color: rgb(140,200,70);
	position: fixed;
	top: 0px;
	width:100%;
	z-index: 100;
	box-shadow: 2px 2px 1px grey;
}

.navBar a,.navBar div{
	display: inline-block;
}

.fright{
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	font-size: 30px;
}

.navBar a{
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
	z-index: 200;
}

.navBar a:hover{
	background-color: rgb(130,180,50);
}


.navBar .logo{
	height: 50px;
	z-index: 200;
}

.navBar input[type=text]{
	padding: 6px;
	font-size: 20px;
	border: none;
	width:200px;
	transition: width 0.5s ease-in-out;
	border-radius: 5px 0px 0px 5px;

}

.navBar input[type=text]:focus{
	width:300px;
}

.navBar .search-container{
	display: inline-flex;
	z-index: 200;
	box-shadow: 2px 2px 2px grey;
}


.navBar .search-container button {
  float: right;
  padding: 8.2px 10px;
  margin-right: 0px;
  background: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.navBar .search-container button:hover {
  color: blue;
  background-color: rgb(255,191,0);
}


.cateogories{
	margin-top: 80px;
	width:100%;
	background-color: rgb(140,200,70);
	height:30px;
	color: white;
	font-size: 17px;
}

#unique{
	position: relative;
	top:0px;
}

